<div class="card">
  <h5>Enter Issue Information</h5>
  <div class="field grid">
    <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Issue Title</label
    >
    <div class="col-12 md:col-10">
      <input id="firstname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Issue Description</label
    >
    <div class="col-12 md:col-10">
      <textarea
        id="address"
        type="text"
        rows="4"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Subsystem</label
    >
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Status</label>
    <div class="col-12 md:col-10">
      <input id="lastname4" pInputText type="text" class="inputfield w-full" />
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Power Pack</label
    >

    <p-dropdown
      [editable]="true"
      class="col-12 md:col-7"
      optionLabel="name"
    ></p-dropdown>
    <p-button
      label="Add New Power Pack"
      icon="pi pi-plus"
      class="col-12 md:col-3"
      (click)="openNew()"
    ></p-button>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"> </label>
    <div class="col-12 md:col-10">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Previous</th>
            <th>Current</th>
            <th>Next</th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Milestone</label
    >
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0"
      >Risk Projection</label
    >
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-12 md:col-3">
      <p-dropdown [editable]="true" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <div
      class="
        col-12
        md:col-12
        flex
        align-items-center
        justify-content-center
        mt-5
      "
    >
      <p-button
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="mr-3"
      ></p-button>
      <p-button pRipple label="ok" icon="pi pi-check"></p-button>
    </div>
  </div>
</div>

<!-- Dialog Form-->
<p-dialog
  [(visible)]="powerpackDialog"
  [style]="{ width: '450px' }"
  header="Select PowerPacks"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field grid">
      <label for="firstname4" class="col-12 mb-2 md:col-3 md:mb-0"
        >Engine</label
      >
      <div class="col-12 md:col-3">
        <input
          id="lastname4"
          pInputText
          type="text"
          placeholder="eg. 5.0"
          class="inputfield w-full"
        />
      </div>
      <p-dropdown optionLabel="name" class="col-12 md:col-2"></p-dropdown>
      <p-dropdown optionLabel="name" class="col-12 md:col-2"></p-dropdown>
      <p-dropdown optionLabel="name" class="col-12 md:col-2"></p-dropdown>
    </div>

    <div class="field grid">
      <label for="firstname4" class="col-12 mb-2 md:col-3">Transmission</label>
      <p-dropdown optionLabel="name" class="col-12 md:col-3"></p-dropdown>
      <p-dropdown optionLabel="name" class="col-12 md:col-3"></p-dropdown>
      <div class="col-12 md:col-3">
        <input
          id="lastname4"
          pInputText
          type="text"
          placeholder="eg. 5.0"
          class="inputfield w-full"
        />
      </div>
    </div>
    <div class="field grid">
      <label for="firstname4" class="col-12 mb-2 md:col-3">PowerPack</label>

      <div class="col-12 md:col-5"></div>
      <div class="col-12 md:col-4">
        <button
          pRipple
          type="button"
          label="Add to lis"
          class="p-button-outlined p-button-secondary"
        ></button>
      </div>
    </div>
    <div class="field grid">
      <label for="firstname4" class="col-12 mb-2 md:col-3"
        >Select PowerPack</label
      >

      <div class="col-12 md:col-5">
        <p-dropdown optionLabel="name" class="col-12 md:col-3"></p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></p-button>
    <p-button pRipple label="ok" icon="pi pi-check" class="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>

<!-- ICM Infomration-->
<div class="card">
  <h5>Enter ICM Information</h5>
  <div class="field grid">
    <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0"
      >Escalate Issue?</label
    >
    <div class="col-12 md:col-4">
      <p-dropdown
        optionLabel="name"
        placeholder="No (Normal Priority"
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-4">
      <p-calendar
        [(ngModel)]="date3"
        [showIcon]="true"
        inputId="icon"
        placeholder="Select a Date"
      ></p-calendar>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-4 md:mb-0"
      >Date to Yellow(DTY)</label
    >
    <div class="col-12 md:col-8">
      <p-calendar
        [(ngModel)]="date3"
        [showIcon]="true"
        inputId="icon"
        placeholder="Select a Date"
      ></p-calendar>
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-4 md:mb-0"
      >Date to Green(DTG)</label
    >
    <div class="col-12 md:col-8">
      <p-calendar
        [(ngModel)]="date3"
        [showIcon]="true"
        inputId="icon"
        placeholder="Select a Date"
      ></p-calendar>
    </div>
  </div>
  <div class="field grid">
    <div
      class="
        col-12
        md:col-12
        flex
        align-items-center
        justify-content-center
        mt-5
      "
    >
      <p-button
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="mr-3"
      ></p-button>
      <p-button pRipple label="ok" icon="pi pi-check"></p-button>
    </div>
  </div>
</div>
<div class="card" style="margin-top: 50px">
  <div class="field gird">
    <label for="firstname3" class="col-fixed">Issue Title</label>
    <div class="col-4">
      <input id="firstname3" style="width:100%" type="text" pInputText />
    </div>
    <label for="firstname" class="col">AIMS</label>
    <div class="col-4">
      <input id="firstname" style="width:100%" type="text" pInputText />
    </div>
  </div>
  <div class="field gird">
    <label for="lastname3" class="col-2">Source</label>
    <div class="col">
      <input id="lastname3" style="width:100%" type="text" pInputText />
    </div>
    <label for="lastname3" class="col-2">Champion</label>
    <div class="col">
      <input id="lastname3" style="width:100%" type="text" pInputText />
    </div>
  </div>
  <div class="field gird">
    <label for="lastname3" class="col-2">Issue Description</label>
    <div class="col-4">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
    <div class="col-6">
      <div class="field gird">
        <label for="lastname3" class="col-4">Team Leader</label>
        <div class="col-8" style="padding-bottom: 20px">
          <input id="lastname3" style="width:100%" type="text" pInputText />
        </div>
        <label for="lastname3" class="col-4">Team</label>
        <div class="col-8">
          <input id="lastname3" style="width:100%" type="text" pInputText />
        </div>
      </div>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Containment</label>
    <div class="col-10">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Root Cause</label>
    <div class="col-10">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Root Cause</label>
    <div class="col-10">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Corrective Action</label>
    <div class="col-10">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>
  </div>
  <div class="field gird">
    <label for="lastname3" class="col-2">Work Plan</label>
    <div class="col">
      <button pButton type="button" label="View / Edit Work Plan"></button>
    </div>

    <div class="col">
      <button pButton type="button" label="ICM Information"></button>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Preventative Action</label>
    <div class="col-8">
      <textarea
        id="address"
        type="text"
        rows="5"
        style="width:100%"
        pInputTextarea
      ></textarea>
    </div>

    <div class="col-2">
      <label for="lastname3">Preventative Action</label><br />
      <p-checkbox name="groupname" value="val1" checked></p-checkbox>
    </div>
  </div>
  <div class="field gird formgrid">
    <label for="lastname3" class="col-2">Risk Projections</label>
    <div class="col-10">
      <p-table
        [value]="projections"
        styleClass="p-datatable-gridlines p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Previous Milestone</th>
            <th>TT 21-04-2022</th>
            <th>Next Milestone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td></td>
            <td style="background:red">{{ product.name }}</td>
            <td style="background:yellow">{{ product.code }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
